<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>
    <input class="form-control" type="text" id="myInput" (keyup)="filter()" placeholder="First name.." title="Type in a name">
    <input class="form-control" type="text" id="myInput2" (keyup)="filter()" placeholder="Last name.." title="Type in a name"> 

<table class="table" id="myTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
      </tr>
    </tbody>
  </table>

  
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}}  {{user.email}}  {{user.phoneNumber}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
    <p><a [routerLink]="['/adduser']">Add Individual</a></p>

</div>