<!--<div class="col-md-6 col-md-offset-3">-->

    <h1>Individuals Page</h1>

    <table style="table-layout: fixed" width=100% class="table" id="myTable">
        <thead>
          <tr>
              <th width="20%"><input class="form-control" type="text" id="myInput" (keyup)="filter()" placeholder="First name..." title="Filter by first name"></th>
              <th width="20%"><input class="form-control" type="text" id="myInput2" (keyup)="filter()" placeholder="Last name..." title="Filter by last name"> </th>
              <th width="20%"><input class="form-control" type="text" id="myInput3" (keyup)="filter()" placeholder="Type..." title="Filter by individual type"> </th>
              <th width="20%"><input class="form-control" type="text" id="myInput4" (keyup)="filter()" placeholder="State..." title="Filter by state"> </th>
              <th width="20%"><input class="form-control" type="text" id="myInput5" (keyup)="filter()" placeholder="Company..." title="Filter by company"> </th>
              <th width="15%"><input class="form-control" type="text" id="myInput6" (keyup)="filter()" placeholder="Skill 1..." title="Filter by skill"> </th>
              <th width="15%"><input class="form-control" type="text" id="myInput7" (keyup)="filter()" placeholder="Skill 2..." title="Filter by skill"> </th>
              <th width="15%"><input class="form-control" type="text" id="myInput8" (keyup)="filter()" placeholder="Skill 3..." title="Filter by skill"> </th>
              <th></th>
          </tr>
          <tr>
            <th >First Name</th>
            <th>Last Name</th>
            <th>Type</th>
            <th>State</th>
            <th>Company</th>
            <th>Skill 1</th>
            <th>Skill 2</th>
            <th>Skill 3</th>
            <th>Available On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people; let i = index">
            <td ><a [routerLink]="['/individualProfile', person.id]">{{person.firstName}}</a></td>
            <td>{{person.lastName}}</td>
            <td>{{person.type}}</td>
            <td>{{person.state}}</td>
            <td>{{person.company}}</td>
            <td>{{person.skill1}}</td>
            <td>{{person.skill2}}</td>
            <td>{{person.skill3}}</td>
            <td>{{person.availableDate}}</td>
          </tr>
        </tbody>
      </table>


    <a>
        <img src="https://dabuttonfactory.com/button.png?t=Export&f=Open+Sans-Bold&ts=24&tc=fff&tshs=1&tshc=000&hp=20&vp=8&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763" alt="Export" style="border:5"/>
    </a>
      <p><a [routerLink]="['/search']">Back to Reports</a></p>

    
<!--></div>-->