<div>
    <h1>{{person.firstName}} {{person.lastName}}</h1>
    <table class="table" id="myTable">
      <tr><b>Address:</b> {{person.address1}} <br/>{{person.address2}}</tr>
      <tr><b>City: </b>{{person.city}}</tr>
      <tr><b>State: </b>{{person.state}}</tr>
      <tr><b>Zip: </b>{{person.zipcode}}</tr>
      <tr><b>Email:</b> {{person.email}}</tr>
      <tr><b>Phone Number:</b> {{person.phoneNumber}}</tr>
      <tr><b>Skills: </b>{{person.skill1}},{{person.skill2}}, {{person.skill3}} </tr>
      <tr><b>Company: </b>{{person.company}}</tr>
      <tr><b>Notes: </b>{{person.notes}}</tr>
      <tr><b>Type of Consultant: </b>{{person.type}}</tr>
      <tr><b>Point of Contact: </b>{{person.poc}}</tr>
      <tr><b>Years of Experience: </b>{{person.yearsExp}}</tr>
      <tr><b>Payrate: </b>${{person.payRate}}</tr>
      <tr><b>Billrate:  </b>${{person.billRate}}</tr>
      <tr><b>Availability Date:</b> {{person.availableDate}}</tr>
    </table>  
    
    <a>
      <img src="https://dabuttonfactory.com/button.png?t=Export&f=Open+Sans-Bold&ts=24&tc=fff&tshs=1&tshc=000&hp=20&vp=8&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763" alt="Export" style="border:5"/>
  </a>
    <p><a [routerLink]="['/individuals']">Back to Individuals</a></p>
</div>