<div>
    <h1>{{person.firstName}} {{person.lastName}}</h1>
    <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Address</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>{{person.address1}} <br/>{{person.address2}}</td>
            <td>{{person.city}}, {{person.state}}</td>
            <td>{{person.zipcode}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phoneNumber}}</td>
            <td>{{person.skill1}},{{person.skill2}}, {{person.skill3}} </td>
            <td>{{person.company}}</td>
            <td>{{person.notes}}</td>
            <td>{{person.type}}</td>
            <td>{{person.poc}}</td>
            <td>{{person.yearsExp}}</td>
            <td> ${{person.payRate}}</td>
            <td> ${{person.billRate}}</td>
            <td>{{person.availableDate}}</td>
            
          </tr>
        </tbody>
      </table>

    
</div>