    <h1>Companies Page</h1>

    <table width="100%" class="table" id="myTable">
      <thead>
        <tr>
            <th ><input class="form-control" type="text" id="myInput" (keyup)="filter()" placeholder="Name..." title="Type in a name"></th>
            <th ><input class="form-control" type="text" id="myInput2" (keyup)="filter()" placeholder="State..." title="Type in a name"> </th>
            <th ><input class="form-control" type="text" id="myInput3" (keyup)="filter()" placeholder="Point of Contact..." title="Type in a name"> </th>
            <th ><input class="form-control" type="text" id="myInput4" (keyup)="filter()" placeholder="Phone number..." title="Type in a name"> </th>
        </tr>
        <tr>
          <th >Name</th>
          <th>State</th>
          <th>POC</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies; let i = index">
          <td ><a [routerLink]="['/companyProfile', company.id]">{{company.name}}</a></td>
          <td>{{company.state}}</td>
          <td>{{company.poc}}</td>
          <td>{{company.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>

    <p><a [routerLink]="['/search']">Back to Search</a></p>

    